@charset "utf-8";
/* CSS Document */

h1 {
	text-align: center;
	font-size: xx-large;
	font-family: "微软雅黑";
	background-color: #93DCFF;
	height: 100px;
	padding-top: 20px;
}
table {
	height: 500px;
}
